
    #gameboard {
        display: flex;
        flex-wrap: wrap;
        width: 300px;
      }
      .tile {
        width: 100px;
        height: 100px;
        border: 1px solid #000;
        cursor: pointer;
      }
      .red {
        background-color: red;
      }
      .green {
        background-color: green;
      }
      .blue {
        background-color: blue;
      }
      .yellow {
        background-color: yellow;
      }